@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* change scrollbar */
::-webkit-scrollbar {
  @apply  w-0 h-0;
}

body {
  @apply bg-gray-100 dark:bg-gray-900;
}

.filter-white{
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.logo-white {
  @apply filter invert sepia-0 saturate-0 hue-rotate-0 brightness-100 contrast-100;
}

/* Dark mode
.dark {
  --bg-color: #1a202c;
  --text-color: #e2e8f0;
  --border-color: #2d3748;
  --hover-bg-color: #2d3748;
  --hover-text-color: #e2e8f0;
  --hover-border-color: #2d3748;
} */

/* Path: src/pages/Calendar.js */
.calendar {
  @apply w-full max-w-[900px] h-auto md:h-[600px] lg:max-w-[1200px] lg:h-[800px] flex flex-col mt-8 mx-auto;
}

.calendar-header {
  @apply w-full h-12 mx-auto flex items-center justify-between;
}

.title {
  @apply w-1/2 md:w-1/4 h-full flex items-center;
}

.title h2 {
  @apply m-auto text-lg md:text-2xl lg:text-4xl font-bold;
}

.tools {
  @apply w-1/2 md:w-1/4 h-full flex items-center;
}

.tools button {
  @apply m-auto flex items-center justify-center box-border bg-white border-none;
}

.tools p {
  @apply font-semibold text-lg md:text-xl lg:text-2xl;
}

.tools button span:hover {
  @apply text-[#99cccc];
}

.calendar-body {
  @apply w-full flex-grow flex flex-col;
}

.table-header {
  @apply h-16 md:h-16 lg:h-20 w-full grid grid-cols-7 items-center justify-around;
}

.weekday {
  @apply text-center text-lg md:text-xl lg:text-2xl font-semibold;
}

.table-content {
  @apply w-full flex-grow grid grid-cols-7 box-border;
}

.calendar-day {
  @apply w-full h-[60px] md:h-[82px] lg:h-[120px] relative border border-[#a6a6a6];
}

.calendar-day:hover {
  @apply bg-black bg-opacity-10;
}

.calendar-day p {
  @apply absolute right-2 md:right-3 lg:right-5 top-1 md:top-2 lg:top-4 text-base md:text-lg lg:text-xl  text-[#a6a6a6];
}

.current p {
  @apply text-black;
}

.selected p {
  @apply text-[#cc0000] font-bold;
}

.different-type  {
  @apply bg-yellow-300 dark:bg-yellow-500;
}

.same-type {
  @apply bg-rose-800 dark:bg-rose-500;
}

.selected.different-type p, .selected.same-type p {
  @apply text-blue-700 dark:text-blue-500;
}

.dark .current p {
  @apply text-white;
}
.dark .title h2 {
  @apply text-white; /* Adjusted text color for dark mode */
}

.dark .weekday {
  @apply text-white;
}

.dark .calendar-day p {
  @apply text-gray-300; /* Adjusted text color for dark mode */
}

.dark .calendar-day {
  @apply border-gray-700; 
}

.dark .calendar-day:hover {
  @apply bg-gray-700; /* Adjusted background color for dark mode */
}

.dark .selected p {
  @apply text-[#ff6666]; /* Adjusted text color for dark mode */
}

.dark .tools button {
  @apply bg-gray-900; /* Adjusted background color for dark mode */
}

.dark .tools button span {
  @apply text-white; /* Adjusted text color for dark mode */
}

.dark .tools button span:hover {
  @apply text-[#99cccc]; /* Adjusted text color for dark mode */
}

.dark .tools p {
  @apply text-white; /* Adjusted text color for dark mode */
}